body {
  margin: 0px;
  display: flex;
  flex-flow: column wrap; 
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  height: 650px;
  min-width: 375px;
  background-image: url(images/IMG_0164.JPG);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-container {
  padding-top: 150px;
  padding-right: 10px; 
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}
.icon {
  border: 3px solid white;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.headertext-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  padding-top: 10px; 
  padding-left: 41px;
}
.header-title {
  font-family: 'Roboto';
  font-size: 13px;
  letter-spacing: 1.12px;
  color: #FFFFFF;
  opacity: 1;
  letter-spacing: 0.52px;
  text-align: left;
  margin-bottom: 0;
}
h1 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 40px;
  color: #FFFFFF;
  display: flex;
  text-align: left;
  margin: 0px;
}
.header-subtext {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  display: flex;
  align-items: left;
  margin: 0px;
}
.profile-image img {
  border: 2px solid white;
  width: 162px;
  height: 162px;
  border-radius: 50%;
  margin-top: 150px;
  margin-left: 50%;
  position: relative;
}
.portfolio-container-grey {
  display: flex;
  flex-wrap: column wrap;
  width: 100%;
  min-height: fit-content;
  background-color: #F4F4F4;
}
.box-text {
  font-family: 'Montserrat';
  font-size: 17px;
  text-align: left;
  letter-spacing: 0;
  color: #000000;
  margin: 58px 36px 56px 36px;
}
.decoration {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  width: 70px;
  height: 6px;
  color: red;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: -3px;
}
.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  background-color: #FFFFFF;
}
.red-header-box {
  background-color: #FA382F;
  width: 82px;
  height: 32px;
  display: flex;
  justify-content: center;
}
.box-header {
  font-family: 'Montserrat';
  font-size: 21px;
  color: #FFFFFF;
  font-weight: bolder; 
  width: 62px;
  height: 27px;
  margin: 0px;
}
.red-header {
  font-family: 'Montserrat';
  font-size: 21px;
  color: #FA382F;
  font-weight: bolder; 
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 266px;
  width: -webkit-fill-available;
  background-color: #072BCE;
  color: white;
}
.contact-name {
  font-family: 'Roboto';
  font-size: 17px; 
  font-weight: bold;
}
.contact-info {
  font-family: 'Roboto';
  font-size: 17px; 
}


@media (min-width: 667px) {
  header {
    height: 655px;
    background-image: url(images/IMG_8053.JPG);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .icon-container {
    padding-top: 10%;
    padding-right: 10%;
  }
  .headertext-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    padding-left: 25%; 
  }
  .header-title {
    font-size: 28px;  
    padding-top: 0;
  }
  h1 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 82px;
    color: #FFFFFF;
    display: flex;
    align-items: left;
    margin: 0px;
  }
  .header-subtext {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    display: flex;
    align-items: left;
    margin: 0px;
  }
  .profile-container {
    display: flex;
    flex-direction: row;
  }
  .profile-image img {
    position: relative;
    width: 250px;
    height: 250px;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 0;
    margin-left: 40%;
    margin-bottom: 50px;
  }
  .portfolio-container-grey {
    height: 439px;
    background-color: #F4F4F4;
  }
  .summary-text {
    font-size: 30px;
    margin: 124px 416px;
  }
  .portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 439px;
    background-color: #FFFFFF;
  }
  .tech-header-box {
    background-color: #FA382F;
    width: 161px;
    height: 64px;
    display: flex;
    justify-content: center;
  }
  .tech-header {
    font-family: 'Montserrat';
    font-size: 48px;
    color: #FFFFFF;
    font-weight: bold; 
    width: 136px;
    height: 58px;
    margin: 0px;
  }
  .tech-text {
    font-family: 'Montserrat';
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
  }
}

